@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html{
    height: 100%;
    margin: 0;
    padding: 5px;
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    max-width: 2000px;
    margin: auto;
}

.nav_admin{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #8650fe;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 60vh;
}

.logo{
    width: 120px;
    margin-left: 10px;
    cursor: pointer;
}

.opcion{
    cursor: pointer;
    color: #8650fe;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    margin-right: 15px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

#admin_links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.admin_btn{
    background-color: white;
    width: 130px;
    border-radius: 0;
    border: 2px solid #8650fe;
    cursor: pointer;
    text-align: center;
    transition: 1s;
}

.admin_btn:hover{
    background-color: #d0bbff;
}

h1{
    color:#8650fe;
    font-size: 2.3rem;
}

.item_historial{
    width: 100%;
    height: 60px;
    background-color: lavender;
    color: #8650fe;
    display: flex;
    justify-content: start;
    cursor: pointer;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;

}

.item_historial:hover{
    background-color: #cacaff;
}

table{
    width: 100%;
}

thead, th{
    top: 0;
}

.td_historial{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:left;
    font-size: 1rem;
}

#th_historial{
    background-color: #333;
    color: white;
    border-radius: 10px 10px 0 0;
    cursor: default;
    border: none;
}

#filtros_historial{
    margin-top: 8px;
    color: white;
    height: 60px;
    background: linear-gradient(45deg, #481f9e, #8650fe 80%);
    cursor:default;
}

#container_filtro{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

select, input{
    width: 180px;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
}

.nombre, .apellido{
    width: 12%;
}

.email{
    width: 20%
}

.cancha, .dia, .hora{
    width: 15%;
    justify-content: center;
}

.boton{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn_falta{
    height: 70%;
    width: 70px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}

.item_responsive{
    width: 100%;
    background-color:lavender;
    position:relative;
    top: -10px;
    display: none;
    border-bottom: 2px solid lightgray;
}

.item_responsive td{
    height: 48px;
    display: flex;
    width: 155px;
    justify-content: space-around;
    align-items: center;
}

#tr_btn_usuario_1{
    text-align: right;
}

.icono_eliminar{
    height: 20px;
    filter: invert(1);
}


/* Modal Admin */

#modal_admin{
    display: none;
    z-index: 3;
    width: 520px;
    height: 460px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -230px;
    padding: 40px;
    box-sizing: border-box;
}

.campo_admin{
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
    color:#481f9e;
}

.botones_admin{
    position: absolute;
    bottom: 35px;
    right: 10px;
    width: 100%;
    text-align: right;
}

#modal_adm_salir, #modal_adm_guardar{
    color: white;
    border: none;
    padding: 10px;
    width: 70px;
    border-radius: 10px;
    font-weight: bold;
    font-family: inherit;
    margin-right: 10px;
    cursor: pointer;
}

#modal_adm_salir{
    background-color: crimson;
}

#modal_adm_guardar{
    background-color:#7643e5;
}

#modal_adm_salir:hover{
    background-color: red;
}

#modal_adm_guardar:hover{
    background-color:#8650fe;
}

#input_senia{
    font-size: 1.3rem;
    border-bottom: 2px solid lightgray;
    border-radius: 0;
    width: 115px;
    color: inherit;
    text-align: left;
    height: 25px;
    padding-left: 8px;
}

.hoy{
    background-color: moccasin;
    color: navy;
}

.hoy:hover{
    background-color: #ff9b4f
}

.hoy_pasado{
    background-color: lightgray;
    color: gray;
}

.hoy_pasado:hover{
    background-color: #727272;
    color: white;
}

.mensaje{
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
    top: -7px;
    display: block;
    margin-bottom: -4px;
    font-size: 0.6rem;
}

.adeuda{
    background-color: crimson;
    color: white;
}

.adeuda:hover{
    background-color: rgb(170, 0, 34);
}